//caja3
.grafico{
    font-size: 250px ;
}
.contenedor-datos{
    font-size: 12px;
    margin-top: 40px;
}
//caja1
.grafico-redondo{
    font-size: 190px ;
    color: blue;
}
.i-pequeños{
    font-size: 20px;
    color: green;
}
.letra-titulo-caja1{
    font-size: 15px;
}
.tamaño-i-titulo1{
    font-size: 14px;
}