<!--CON BOOSTRAP-->
<!-- <div class="row justify-content-center align-items-center mt-4 mb-3 px-3"> -->
    <!-- <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded py-3 px-4 bg-primary ">
        Primera caja
    </div>
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded py-3 px-4 bg-success ">
        Segunda caja
    </div>
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded py-3 px-4 bg-warning ">
        Tercera caja
    </div>
    <div class="col-xl-3 col-md-5 col-12 shadow-sm rounded py-3 px-4 bg-danger" >
        Cuarta caja
    </div>
</div> -->

<!-- CON CSS -->
<div class="stats-container mt-4 mb-3 px-3"> 
    <div class="shadow-sm rounded py-3 px-4 color-azul d-flex flex-nowrap align-items-center justify-content-around  column-gap-2"><!-- j-c-around separa los elementos de horizontal desde el centro-->
        <div class="text-white">
            <i class=" bi bi-bar-chart-fill text-warning diplay-4"></i>
        </div>
        <div class="text-white tetx-center">
            <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                <span class="h4">46.43% </span>
                <span class="h6 fw-normal text-uppercase">GROWTH RATE</span>
            </p>        
        </div>
    </div>
        
    <div class="bg-success shadow-sm rounded py-3 px-4 bg-primary d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
        <div class="text-white">
            <i class=" bi bi-file-arrow-up text-white diplay-4"></i>
        </div>
        <div class="text-white tetx-center">
            <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                <span class="h4">4,054,876</span>
                <span class="h6 fw-normal text-uppercase">PAGEVIEWS</span>
            </p>        
        </div>
    </div>
    <div class="bg-warning shadow-sm rounded py-3 px-4 bg-primary d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
        <div class="text-white">
            <i class="bi bi-arrow-up-right text-white diplay-4"></i> 
        </div>
        <div class="text-white text-center">
            <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                <span class="h4">46.41%</span>
                <span class="h6 fw-normal text-uppercase">BOUNCE RATE</span>
            </p>        
        </div>
    </div>
    <div class="shadow-sm rounded py-3 px-4 bg-primary d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
        <div class="text-white">
            <i class=" bi bi-people-fill text-white diplay-4"></i>
        </div>
        <div class="text-white">
            <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                <span class="h4">914,001</span>
                <span class="h6 fw-normal text-uppercase">VISITS</span>
            </p>        
        </div>
    </div>
</div> 