<<div class="d-flex justify-content-center align-items-center contenedor">
    <form method="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">  
        <div class="form-group mb-3 mt-3 h-100 border rounded-3 p-5 shadow">
            <label class="form-label">usuario</label>
            <input id="username" type="text" class="form-control mb-1" formControlName="username">

            <label class="form-label">Nombre</label>
            <input id="name" type="text" class="form-control mb-1" formControlName="name">

            <label class="form-label">Apellido</label>
            <input id="firstName" type="text" class="form-control mb-1" formControlName="firstName">

            <label class="form-label">Role</label>
            <select id="role" type="text" class="form-control mb-1" formControlName="role">
                <optgroup label="Roles">
                    <option value="USER">ROLE_USER</option>
                    <option value="ADMIN">ROLE_ADMIN</option>
                    <option value="SELLER">ROLE_SELLER</option>
                </optgroup>
            </select>

            <label class="form-label">Dirección</label>
            <input id="address" type="address" class="form-control mb-1" formControlName="address">

            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control mb-1" formControlName="password">

            <label class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control mb-1" formControlName="confirmPassword">
            
            <button type="submit"  class="form-control btn btn-primary mt-3" [disabled]="registerForm.invalid">Registrarse ahora</button>
        </div>
    </form>
</div>